*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
#Container{
    width: 80%;
    margin: 0 auto;
}
.mini_container{
    border: 2px solid black;
}
.main_title{
    font-size: 60px;
    font-weight: normal;
    text-align: center;
    font-family: cursive;
    margin: 40px 0;
}
.first_sect,.second_sect{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
}
.mini_sect{
    width: 25%;
    text-align: center;
    padding: 10px;
    border: 1px solid #333;
}
.mini_title{
    font-weight: normal;
    font-style: italic;
    font-size: 30px ;
    margin: 15px 0;
    text-align: center;
}
.mini_text{
    line-height: 1.2;
}
.main_img{
    width: 100%;
}
.min_sect{
    width: 50%;
    border: 1px solid #333;
    padding: 10px;
  
}
ul{
    list-style: none;
}
.nav_list{
    display: flex;
  
    flex-direction: column;
    width: 75%;
}
.item_list{
    width: 100%;
      flex: 1;
      padding: 15px;
      font-weight: bold;
      font-size: 30px;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: #333;
}
a:hover{
    text-decoration: underline;
}
.item_list:nth-child(1){
    background-color: antiquewhite;
}
.item_list:nth-child(2){
    background-color: cyan;
}
.item_list:nth-child(3){
    background-color: rebeccapurple;
}
.item_list:nth-child(4){
    background-color: orange;
}
.item_list:nth-child(5){
    background-color: seagreen;
}